/* ==================================================================== */
/* ==================================================================== */
/*  ClientName Theme - Based on OutSystems UI                           */
/*  Created by https://mediaweb.pt/                                     */
/* ==================================================================== */
/*  $1 - Base & HTML Elements                                           */
/*  $2 - Layouts                                                        */
/*  $3 - SoWhat Patterns                                                */
/*  $4 - Widgets                                                        */
/*  $5 - Useful Classes                                                 */
/* ==================================================================== */
/* ==================================================================== */

/* ==================================================================== */
/*  $0 - Abstract                                                       */
/* ==================================================================== */
@use "0-abstract/scss-functions";

/* ==================================================================== */
/*  $1 - Base & HTML Elements                                           */
/* ==================================================================== */
@use "1-base/base-structure";
@use "1-base/advanced-structure";

/* ==================================================================== */
/*  $2 - Layouts                                                        */
/* ==================================================================== */
@use "2-layout/layouts";

/* ==================================================================== */
/*  $3 - Widgets                                                        */
/* ==================================================================== */
@use "3-widgets/_main-widgets-import";

/* ==================================================================== */
/*  $4 - Patterns                                                       */
/* ==================================================================== */
@use "4-components/_main-components-import";

/* ==================================================================== */
/*  $5 - Useful Classes                                                 */
/* ==================================================================== */
/*@use "1-base/useful-classes";*/
